parameters:
    level: 6
    paths:
        - src
    excludePaths:
        - src/Resources/public/*
    ignoreErrors:
        # Pimcore classes may not be available during static analysis
        -
            message: '#Class Pimcore\\.*not found#'
            reportUnmatched: false
        -
            message: '#Call to method.*on an unknown class Pimcore\\.*#'
            reportUnmatched: false
