parameters:
    level: 6
    paths:
        - src
    excludePaths:
        - src/Resources/public/*
    ignoreErrors:
        # Pimcore classes may not be available during static analysis
        - '#Class Pimcore\\.*not found#'
        - '#Call to method.*on an unknown class Pimcore\\.*#'
